body{
    /* background-image: url("file:///Users/mov/Downloads/Airtour/media/backgrounds/index_background%20(2).png"); */
    /* background-attachment: fixed; */
    background-color: whitesmoke;
}
.menu  a:hover {
    transition: 0.1s;
    border-bottom: 1px solid black;
}